
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

body {
   font-family: "Wix Madefor Text", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
 }
 
*{
    margin:0;
    padding:0;

}

/*Css Variables*/
:root{
    --navbar-height: 59px;

}
.logo{
   margin-left: 20px;
   font-size: 32px;
   color: white;
   text-decoration: none;
}

body{
   background-image:url(..//Images/bg.1.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
#navbar{
    display:flex;
    align-items: center;
    position:fixed;
    padding: 20px;
    justify-content: space-between;
    top:0px;
    width: 100%;

}
.header{
   margin-right: 20px;
}
#image{
    height: 56px;
    margin: 3px 5px;
}

 
 #navbar ul{
    display: flex;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    
   
 }

 #navbar{
   background-color:rgb(198, 12, 12);
    position: fixed;
    z-index: 9999;
    height: 9%;
    width:100%;
    top:0px;
    left:0px;
    opacity: 1;

   
 }

 #navbar ul li{
    list-style: none;
    font-size: 1.3 rem;
 }

 #navbar ul li a{
    color: white;
    display: inline-block;
    padding: 3px 32px;
    border-radius: 20px;
    text-decoration: none;
 }

 #navbar ul li a:hover {
    color: black;
    background-color: white;
    
 }

 #section h1{
    display:contents;
    padding-left: 20px;
 }
  /*home*/
  #home{
    display: contents ;
    flex-direction: column;
    padding: 3px 200px ;
    height: 690px;
    justify-content:flex-start,left;
    align-items:flex-start,left;
 }


  .scroll{
   position: relative;
   top: 22%;
   width: 80%;
   padding: 50px;
   margin: auto;
   align-items: center;
   display: grid;
   gap: 8rem;
   grid-auto-flow: column;
   grid-auto-columns: 21%;
   overflow-x: auto;
   overscroll-behavior-inline: contain;
}
.element{
   margin-top: 70px;
   background: rgb(0 0 0 / 44%);
   text-decoration: none;
   min-height: 200px;
   width: 200px;
   padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(10px);
   text-align: center;
   transition: transform 0.3s;
   cursor: pointer;
   overflow: hidden;
}
.element:hover{
   transform: translateY(-10px);
}
.element1:hover{
   transform: translateY(-10px);
}
.drink{
   width: 90%;
   cursor: pointer;
   position: relative;
}
.element .content h1{
   padding-top: 30px;
   font-size: 20px;
   color: rgb(255, 255, 255);
}
.next{
   position: fixed;
   width: 70px;
}
.next:hover{
   cursor: pointer;
}
.scroll::-webkit-scrollbar{
   -webkit-appearance: none;
}
.icon{
   position: relative;
   top:30%;
   background-color: black;
   width: 0px;
   outline: none;
   border: none;
   cursor: pointer;
}
.scrolll{
   display: grid;
   grid-auto-flow: column;
   padding-right: 60px;
}

@media(max-width:700px){
.logo{
   padding-left: 40px;
}

.icon{
   display: none;
}
.banner{
   background: none;
}
.scroll{
   width: 90%;
   display: flex;
   flex-direction: column;

}
.element{
   width:90%;
}
}
.drinks{
   text-decoration: none;
   color: #fff;
}
.soups{
   text-decoration: none;
   color: #fff;
}
.snacks{
   text-decoration: none;
   color: #fff;
}
.desserts{
   text-decoration: none;
   color: #fff;
}
.instantmixes{
   text-decoration: none;
   color: #fff;
}
.maincourse{
   text-decoration: none;
   color: #fff;
}
.heading{
   margin-left: 150px;
}
.add{
   color: black;
   text-decoration: none;
   position: absolute;
   top: 114px;
   right: 30px;
   font-size: 21px;
}
a{
   text-decoration: none;
}